.gradle
build/
gradle-app.setting
.gradletasknamecache
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.iml
.idea
/*/out/
*.secret
.DS_Store
out/
gradle.properties
ignore
